# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignoring eclipse project metadata files
.buildpath
.project
.settings
.settings/*
/nbproject/private/

# Ignore .gitignore file

# Ignore temparary file
*.*~
