/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/* The below settings for block/pane headings should be used when using rounded corner panes */
div.sidebar-right-panel h2.pane-title,
 div.sidebar-left-panel h2.pane-title {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1.4em;
}

div.pane-page-content h2.pane-title {
  margin-top: 0;
}

div.pane-connector-one-click-block .form-submit {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}

div.pane-connector-one-click-block {
  #edit-oauthconnector-google {
    @include sassy-button("flat", 4px, 1em, #d2232a);
  }
  #edit-oauthconnector-linkedin {
    @include sassy-button("flat", 4px, 1em, #6EB2D8);
  }
  #edit-oauthconnector-twitter {
    @include sassy-button("flat", 4px, 1em, #019ad2);
  }
  #edit-oauthconnector-facebook {
    @include sassy-button("flat", 4px, 1em, #3b5a9b);
  }
}

div.sidebar-right-panel, 
div.sidebar-left-panel {
  div.panel-separator {
   /* margin: 0 0 3em 0; */
  }
}

div.sidebar-left-panel,
div.sidebar-right-panel {
		.view-content {
			.views-row {
				margin-bottom:10px;
				padding-left:25px;
				background:url(../images/arrow_bullet.png) no-repeat left 4px;
				
			}
		}
}
