/**
 * @file
 * Form Styling
 */
/* line 9, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 14, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 18, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 23, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 28, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 32, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 37, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 42, ../sass/forms.scss */
.form-submit {
  /* The submit button */
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBB22F', endColorstr='#FFA47710');
  background-color: #ebb22f;
  border: 0;
  color: black;
  text-shadow: #f2cf7d 0 1px 0;
  padding: 0.3em 1.0em;
}
/* line 15, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover {
  text-decoration: none;
}
/* line 42, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover {
  background-color: #e9a918;
}
/* line 44, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:active {
  background-color: #dca015;
}
/* line 6, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit.disabled, .form-submit[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 49, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 54, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 57, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 66, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 74, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 81, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 91, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 96, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 101, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 106, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 118, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 124, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 128, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 132, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 151, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/* line 159, ../sass/forms.scss */
.btn-red,
a .btn-red,
a:link .btn-red,
a:hover .btn-red {
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD2232A', endColorstr='#FF7B1419');
  background-color: #d2232a;
  border: 0;
  color: white;
  text-shadow: #651114 0 -1px 0;
  color: white !important;
}
/* line 15, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:hover,
a .btn-red:hover,
a:link .btn-red:hover,
a:hover .btn-red:hover {
  text-decoration: none;
}
/* line 42, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:hover,
a .btn-red:hover,
a:link .btn-red:hover,
a:hover .btn-red:hover {
  background-color: #bc1f26;
}
/* line 44, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:active,
a .btn-red:active,
a:link .btn-red:active,
a:hover .btn-red:active {
  background-color: #af1d23;
}
/* line 6, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red.disabled, .btn-red[disabled],
a .btn-red.disabled,
a .btn-red[disabled],
a:link .btn-red.disabled,
a:link .btn-red[disabled],
a:hover .btn-red.disabled,
a:hover .btn-red[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.btn-red::-moz-focus-inner,
a .btn-red::-moz-focus-inner,
a:link .btn-red::-moz-focus-inner,
a:hover .btn-red::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 166, ../sass/forms.scss */
.btn-blue,
a .btn-blue,
a:link .btn-blue,
a:hover .btn-blue {
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3B5A9B', endColorstr='#FF1F2F51');
  background-color: #3b5a9b;
  border: 0;
  color: white;
  text-shadow: #18243f 0 -1px 0;
  color: white !important;
}
/* line 15, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-blue:hover,
a .btn-blue:hover,
a:link .btn-blue:hover,
a:hover .btn-blue:hover {
  text-decoration: none;
}
/* line 42, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-blue:hover,
a .btn-blue:hover,
a:link .btn-blue:hover,
a:hover .btn-blue:hover {
  background-color: #344f89;
}
/* line 44, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-blue:active,
a .btn-blue:active,
a:link .btn-blue:active,
a:hover .btn-blue:active {
  background-color: #30497d;
}
/* line 6, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-blue.disabled, .btn-blue[disabled],
a .btn-blue.disabled,
a .btn-blue[disabled],
a:link .btn-blue.disabled,
a:link .btn-blue[disabled],
a:hover .btn-blue.disabled,
a:hover .btn-blue[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../sass-extensions/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.btn-blue::-moz-focus-inner,
a .btn-blue::-moz-focus-inner,
a:link .btn-blue::-moz-focus-inner,
a:hover .btn-blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
