/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
  line-height: 1.5em;
}
/* line 21, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 24, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
  color: #999;
  font-size: 0.8em;
}
/* line 27, ../sass/nodes.scss */
.node .submitted a {
  color: #999;
  text-decoration: underline;
}
/* line 33, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 36, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
  display: block;
  margin: 1em 0em;
}

/* line 43, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 46, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 49, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 52, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
  /* padding-bottom: 2em; */
  border-bottom: 1px dashed #ccc;
  /* margin-bottom: 2em; */
}
/* line 57, ../sass/nodes.scss */
.node-teaser .node-title {
  font-size: 1.4em;
}
/* line 59, ../sass/nodes.scss */
.node-teaser .node-title a {
  color: #000;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 71, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 74, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 77, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 80, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* line 85, ../sass/nodes.scss */
li.node-readmore {
  float: right;
}

/* line 89, ../sass/nodes.scss */
.view-mode-full .service-links {
  background: #eee;
  padding: 0.5em;
  color: #999;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}
/* line 95, ../sass/nodes.scss */
.view-mode-full .service-links .service-label {
  margin-bottom: 0.5em;
}

/* Styles for home page (panel content) image banner content */
/* line 103, ../sass/nodes.scss */
div.home-box-top {
  width: 730px;
  margin-bottom: 2em;
  text-align: center;
}
/* line 107, ../sass/nodes.scss */
div.home-box-top img {
  width: 730px;
}

/* line 111, ../sass/nodes.scss */
div.home-box-bottom {
  width: 730px;
  margin-bottom: 0.5em;
}
/* line 114, ../sass/nodes.scss */
div.home-box-bottom div.movstrip {
  overflow: hidden;
}
/* line 116, ../sass/nodes.scss */
div.home-box-bottom div.movstrip ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 121, ../sass/nodes.scss */
div.home-box-bottom div.movstrip ul li {
  float: left;
  width: 170px;
  margin: 6px;
  padding: 0px;
}
/* line 127, ../sass/nodes.scss */
div.home-box-bottom div.movstrip ul.slides_container li {
  margin: 0;
}
/* line 131, ../sass/nodes.scss */
div.home-box-bottom img {
  width: 170px;
  height: 100px;
}
/* line 135, ../sass/nodes.scss */
div.home-box-bottom li.last img {
  width: 55px;
  height: 55px;
}
