/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
@import "compass/css3/images";

.splash-region {
	.panel-pane {
		margin: 0 auto;
    width: 60%;
	}
}

.panels-flexible-aap_layout-inside
.panels-flexible-row  {
  width: 100%;
}

.panels-flexible-row > .inside {
  @include aap_body_measurements;
}

.top-header-row {
	padding:0;
	margin-top: 0.1%;
}
.aap-header-search-class > .inside {
}
.main-menu-row {
	box-shadow: 0 -16px 33px #CCCCCC;
	height: 57px;
}
.main-menu-row > .inside,
.aap-footer-top-class > .inside {
   background-color: $green;
}

.aap-footer-top-class > .inside {
   margin-bottom: 1%;
}

.bottom-content {
	margin-bottom: 5%;
}
.panels-flexible-row.main-menu-row,
.panels-flexible-row.aap-footer-top-class {
  padding : 0;
  background-color: $green;
  height: 0%;
}

.panels-flexible-row.aap-footer-bottom-class {
   background: $footer;
   min-height: 75px;
}


.aap-footer-bottom-class > .inside {
    background: $footer;
}

.panels-flexible-row.aap-page-background-class {
  background: url('../images/bg_flag.jpg') no-repeat top center;
}
.panels-flexible-row.aap-background-class {
  background: url('../images/bg_flag.jpg') no-repeat 0% 23%;
}

.aap-body-class {
  margin : 0;
}

.aap-search-class {
	#aap-contact {
		margin-right:19px;
		background:url(../images/pager__item_sep.png) right 4px no-repeat;
		padding-right: 19px;
		margin-top:2%;
	a {
			color: #F17E00;
    	font-family: $font-family-group;
    	font-size: 0.9em;
    	font-weight: bold;
    	text-decoration: none;
		}
	}	
	.aap-login {
			background:$orange;
			 border-radius: 0.3em;
   			 padding: 3px 5px;
   			 margin-left:9px;
			
			a {
				 @include aap_font_style;
				 font-size: 1.1em;
			}			
				&:hover {
      	  	background:  $button-color-hover;
      		}
	}
}

.main-content,
.middle-content,
.bottom-content {
    margin-top: 2%;
    margin-bottom: 2%
 }
 
.middle-content > .inside {
    	border-bottom: 1px solid #D7D7D7;
    	border-top: 1px solid #D7D7D7;
    	padding-bottom: 2%;
    	padding-top: 2%;
    
    panels-flexible-region {
    	.pane-content {
    			color: red;
    	}	
   } 
 }
.aap-main-content {
      
      margin-left: 3%;
      margin-right: 3%;
    
    .pane-title {
      @include aap_content_title;
    }
    
    .view-content .views-row {
      margin-bottom: 10px;
      padding-left: 25px;
      background: url(../images/bullet_img.png) no-repeat left 7px;
    }
    
     
   	a {
      @include aap_font_body;
      color:#1f7fa2;
    }
    
}
 .aap-poll-class  {
 		a {
    	 font-family: $font-family-group !important;
       color: #333333 !important;
       font-size: 0.596em !important;
      }
     .node__title {
     	line-height: 0.8em;
     }  
       
    }
.aap-main-content.latest-news-class {
         .pane-content {
       position:relative;
       height:534px;
       
       .view-header img {
       	width: 296px;
    		border: 1px solid #D7D7D7;
    		border-radius: 0.4em 0.4em 0.4em 0.4em;
       }
    }
    
}

.aap-donation-class,
.aap-poll-class,
.aap-story-class.aap-main-content {
		.pane-content {
			margin-top: 5%;
			height: 16em;
			position:relative;
		}
		 
 	.read-more {
    		padding: 0.5em 1.2em;
    	}	
}

.aap-donation-class,
.aap-poll-class {
  .pane-content {
       .form-radios {
           margin-top: 6.5%;
       }
    } 
}    
.aap-poll-class {
  .pane-content {
      ul {
         display: none;
       }
     }
        
     h4 {
        @include aap_font_body;
        margin: 0;
        padding-bottom: 6px;
     }
}  
 
.header-menu {
 
    .pane-content {
        @include aap_body_measurements;
      }
      
    .sf-menu.sf-style-default {
      
      a {
      color: $white;
      background: none;
      @include aap_font_style;
      border-left: none;
      border-top: none;
      text-shadow:1px 1px #406b15;
      margin: 0.4em 0em;
      padding:0.4em 1em;
      
      &:hover {
      	border-radius:0.4em; 
      	color: #191919;
     		text-align: center;
     		text-shadow: 1px 1px #98C26E;
      }
     } 
    }
    
    .sf-menu.sf-style-default
    .aap-home-class {
      background: url('../images/home.png') no-repeat scroll center;
      text-indent: -15000px;
      padding-right: 3em;
      
      &:hover {
      	 opacity: 0.5;
      }
      
    }
    .sf-menu.sf-style-default
    .donate-link-class {
        text-align: center;
        color: #F17E00;
        background: white;
        border-radius: $border-radius;
        margin-left: 2em;
        text-shadow:none;
    }
  }  
 
 .header-menu
 .sf-menu.sf-style-default {
 
  li {
    background: url(../images/main_menu_border.png)  no-repeat right;
    text-align: center;
   }
  .last {
    background : none;
  }
  li ul {
  			background: $green !important;
  	 li {
  	 		background : none;
  	 		border-bottom: 1px solid #407C04;;
  	 		text-align: left;
  	 		a {
  	 				margin: 0;
  	 				&:hover {
  	 					text-align: left;
  	 				}
  	 		}
  	 		
  	 }
  }  
 }
 
 .header-menu
 .sf-menu.sf-style-default {
    margin-bottom: 0;
 }
 
 .aap-footer-class {
        
        width : 100%;
      .pane-title {
          color: white;
          font-family: $font-family;
          font-size: 1.5em;
          text-shadow:1px 1px #0e1e2b;
          }
       
       .pane-content {
       
       		a {
          color: white;
          font-family: arial;
          font-size: 0.75em;
          text-decoration: none;
          
          &:hover {
          		color : #a7f657;
          	}
         	} 
         	
         li {
          	list-style : none;
          }
          
         ul {
          	padding: 0;
          }
        }
        
        .aap-contact-form-class {
        	.form-item {
        		margin-bottom: 0.5em;
        	}
        }
    }
    
 .right-navigation-class {
      width : 100%;
       
      .pane-content {
      
      			ul {
      					padding:0;
      					margin-right: 7%;
      			}
              .right-nav_1-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0% 0% $nav_blue;
             }
             
              .right-nav_2-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0% 12.5% $nav_blue;
             }
             
             .right-nav_3-class  {
                   background: url('../images/action_call.gif') no-repeat scroll 0% 25% $nav_blue;
             }
              .right-nav_4-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0 37.5% $nav_blue;
             }
              .right-nav_5-class{
                   background: url('../images/action_call.gif') no-repeat scroll 0 50% $nav_blue;
             }
              .right-nav_6-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0 62.5% $nav_blue;
             } 
              .right-nav_7-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0 75% $nav_blue;
             }
              .right-nav_8-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0 87.5% $nav_blue;
             }
              .right-nav_9-class {
                   background: url('../images/action_call.gif') no-repeat scroll 0 100% $nav_blue;
             }
             
             li {
          			list-style: none;
          			line-height: 2.5em;
          			padding-bottom: 0.2em;
      				}
      			
      			a {
         				@include aap_font_style;
         				padding-left: 4em;
         				font-size: 1em;
          			display: block;
          			border-radius: $border-radius;
          			
          			&:hover {
          				color: #EFF743;
          			}
      				}
         }    
     
  }              

  .sliding-region-class,
  .right-navigation-class {
      margin-top : 3em;
    }  
   
    
  
  .aap-question-class {
      .pane-title {
        @include aap_content_title;
        font-size: 1.75em;
        margin: 1% 27%;
        padding: 1%;
     }
     
     .pane-content {
        .aap-question-item-class {
         background: $question-background;
          margin-top: 2%;
          border: 1px solid $border-color;
          border-radius: $border-radius;
          width: 48% ;
          
          .views-field-field-question {
           @include aap_font_style;
           font-size: 1em;
          	padding: 1% 2% 3%;
           	background: url("../images/arrow_down.png") no-repeat right 3% center;
           	color:#666;
           	cursor:pointer;	
          }
          
          .view-field-field-question_toggle {
          background: url("../images/arrow_up.png") no-repeat right 3% center;
          }
         
         .views-field-view-node_toogle {
          		display:block !important;
          	}
          .views-field-field-answer,
          .views-field-view-node  {
            	@include aap_font_body;
							font-size: 1em;
							color:#333;
							padding: 1% 2% 2% 2%;
            	display:none;
            }
          
          
        }
        
     .aap-question-item-class.views-row-odd {
        float: left;
        clear: left;
        }
        
      .aap-question-item-class.views-row-even {
        float: right;
        clear: right;
        }   
     }
     
     
   } 
  
  .footer-bottom {
      .pane-title {
          float:left;
          @include aap_font_style;
          font-size: 1.25em;
          margin-right:1%;
        }  
     
     .pane-content li {
        float: left;
        list-style: none outside none;
        padding-top:8px;
        
        
      } 
      	.first.leaf {
        	padding-top:10px;
        }
        
      .fb-connector,
      .twitter-social-connector,
      .youtube-social-connector {
            display:block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            width:40px;
            height:40px;
            
            &:hover {
            	 opacity:0.8; filter:alpha(opacity=80);
            }
         }
         
      .fb-connector {
        background: url(../images/fb.png) no-repeat;
      }
      .twitter-social-connector {
           background: url(../images/twitter.png) no-repeat;
      }
      .youtube-social-connector {
       background: url(../images/youtube.png) no-repeat;
     }  
 }
 
.aap-story-class {
		.view-content .views-row {
			background: none;
			padding: 0;
		}.node__title {
				display: none;
		}
		
		p {
			 font-family: $font-family-group !important;
       color: #333333 !important;
       font-size: 0.87em !important;
		}
} 
 .aap-call-us-class {
 			clear:both;
 			float:right;
 			background: url(../images/call-us.png) no-repeat 2% center $footer;
 			 border-radius: $border-radius;
 			 width:48%;
 			 margin-top: 1%;
 			 height:73px;
 			color:#FFFEFD;
 			
 			.content, .title {
 			   padding-left: 15%;
 			   padding-top: 1%;
 			   font-size: 22px;
 			   a{
 						@include aap_font_style;
 						&:hover {color: #EFF743;}
 				}
 			}
 	}
 	
 .copyright-content {
 			color: white;
    font-family: arial;
    font-size: 14px;
    margin-top: 14%;
 } 	
 
  	
/*********************************************************************
  
  * Layout for dafault page
  *
 *******************************************************************/
    
.aap-page-content-class {
      
      .aap-news-item-class .field__items img {
  		  width: 100% !important ;
  		 }
       .pane-title {
            @include aap_content_title;
            border : none;
            border-radius: 0 0 0.2em 0.2em;
            font-size: 2em;
            text-align: left;
            margin: 0;
      	 }
       
       .pane-content {
        	margin-top : 4%;
          .node-teaser, 
        	.node--full,
        	.search-result {
       		 	@include aap_content_item;
       		 	padding: 1% 2%;
       		}
       }
       
       	.view-aap-media {
       		.view-content		{
       			@include aap_content_item;
       			padding: 1% 2%;
       		}
       		a {
       			font-family: $font-family-group;
         		color:#f17e00; 
         		text-decoration:none;
         		font-size: 12px;
       		 }
       		.video-title {
       			width:200px;
       			font-family: $font-family-group;
         		color:#f17e00; 
         		text-decoration:none;
         		font-size: 12px;
       		} 	
       		td {
       			width: 260px;
       			height: 250px;
       		} 	
       	}
       	
       .links.links--inline {
      	padding-bottom: 2%;

      	li > a {
      			font-family:$font-family-group;
      			font-weight:bold; 
      			color:#0a6181;
      			font-size:14px; 
      			text-decoration:none;
      		}		
      }
      
      .field__items a {
      			font-family:$font-family-group;
      			font-weight:bold; 
      			color: #0088CC;
      			font-size:14px; 
      			text-decoration:none;
      }
      
      p {
      	@include aap_font_body;
      	font-size: 1em;
      }
      
  }
  
  .aap-breadcrumb {
     border-radius: 0.2em 0.2em 0 0;
      text-align: left;
      background-color:  $footer;
      font-family: $font-family;
      padding: 0.5em 0.6em 2em; 
      margin-top : 7%;
      
      .breadcrumb p, a {
      	float: left;
    		font-family: arial;
    		font-size: 0.9em;
    		font-weight: normal;
    		margin: 0;
      	color:#8fe0ff;
      	text-decoration:none;
      	padding-right:6px;
      	
      	&:hover {
      		color:#8fe0ff;
      	}
      
      &:last-child {
      	color:#dadada;
      	font-style: italic;
      }
     } 
  } 
  
  
  .aap-donation-right-class {
  	margin-left: 12%;
    margin-right: 1%;
    
    .pane-content {
    	@include aap_content_item;
    	margin-top: 0;
    	padding-bottom: 5%;
    	height: 230px;
      .form-radios {
           margin: 0;
       }
       
       .donate-link {
       	margin: 6px 35px;
       }
    }
  } 
  .aap-right-default-class {
  		.pane-content ul {
   	 		padding: 0;
   	 		margin:0;
			}
			
			li {
				margin-left: 12%;
			}
  }
  
 .aap-related-story {
 		margin-left: 12%;
 		margin-right: 0;
 		.view-content .views-row {
      margin-bottom: 5px;
      padding-left: 20px;
      background: url(../images/bullet_img.png) no-repeat 5px 7px;
    }
 } 
 
/*********************************************************************
  
  * common Theme for delhi site page
  *
 *******************************************************************/
 
 .aap-body-class.aap-delhi-body-class {
 		.panels-flexible-row.aap-background-class {
  				background: url('../images/bg_flag.jpg') no-repeat 0% 1%;
			}
		.home-box-top {
					margin-top: 3em;
		}	
 }
 .panelizer-service-links {
 		ul {
 					list-style: none;
 					float: left;
 					padding: 0;
 		}
 		li {
 					float: left;
 					padding-right: 7px;
 		}
 	  a {
 					font-family:$font-family-group;
      		font-weight:bold; 
      		color:#0A6181;
      		font-size:14px; 
      		text-decoration:none;
 		}
 		
 }
 
 .aap-delhi-left-region {
 				border-right: 1px solid $border-color;
 		}
 .aap-delhi-right-region {
 				padding-left: 5px;
 		}		
 .aap-delhi-row,
 .aap-delhi-region-content {
 				margin-top: 4px;
        border-bottom: 1px solid $border-color; 
    }

 /*********************************************************************
  
  * Layout for candidate detail page
  *
 *******************************************************************/
	.aap-page-content-class {
		
				#candidate-detail-page {
							.panels-flexible-row > .inside {
  								width: 720px;
								}
       				@include aap_content_item;
       			
       				.candidate-info-region {
       						margin-left: 6em;
       						width: 500px;
       					
    							.candidate-name	.field__item {
											font-size: 1.2em;
    									font-weight: bold;
            				}
            			.field__items {
            					width: 250px;
            				}	
       					}
       				.pane-content {
            			margin-top : 0.3em;
            
            			.field__label {
            					@include aap_font_body;
            					font-weight: bold;
            					width: 200px;
            				}
            			.field__item {
            					@include aap_font_body;
            				 	a { 
      									@include aap_content_link;
    									 }
            				}
       					}
       					
    
   	}
  
}


/*********************************************************************
  
  * Layout for constituency detail page
  *
 *******************************************************************/
 
 .aap-page-content-class {
		
		#constituency-detail-page {
					.panels-flexible-row > .inside {
  						width: 720px;
					}
					
       		@include aap_content_item;
       		.pane-content {
            		margin-top : 2%;
            		.field__label {
            				@include aap_font_body;
            				font-weight: bold;
            				width: 200px;
            			}
            		.field__item {
            				@include aap_font_body;
            			}
       		}
       		.constituency-detail-region {
       				margin-left: 5em;
    					width: 500px;
       		}
       		.aap-candidate-info {
       						p {
       									margin: 0;		
       						}
       						a {
         								@include aap_content_link;
         						}
       		}
       		.aap-constituency-row {
            		border-bottom: 1px solid $border-color; 
          }
         .constituency-candidate-region {
         			.aap-candidate-consituency {
         					font-size: 1.3em;
         			}
         			.aap-candidate-name {
         				@include aap_font_body;
         				color:#f17e00;
         				font-size: 1.2em;
         				font-weight: bold;
         			}
         			.pane-title {
         				@include aap_content_title_panelizer;
         			}
         		
       			.aap-shortlisted-candidate {
            		border-bottom: 1px solid $border-color; 
            	}
         		 .views-row-last.aap-shortlisted-candidate {
         					border: none;
         			}
         
         		 .aap-shortlisted-candidate {
         				.panel-flexible {
         						padding: 1em 0;
         					}
         		 }
         		 .views-row-first.aap-shortlisted-candidate {
         					.panel-flexible {
         						padding: 0 0 1em 0;
         					}
         		}
         		.pane-content {
         				border-bottom: 1px solid $border-color;
         				padding-bottom: 5px;	
            }	
         } 
         
          .shs-hierarchy {
          	list-style: none;
          	.state:before {
           		font-weight: bold;
           		padding-right: 5em;
          		content: "State:";	
          	}
          	.district:before {
           		font-weight: bold;
           		padding-right: 4em;
          		content: "District:";	
          	}
          	.constituency:before {
           		font-weight: bold;
           		padding-right: 1em;
          		content: "Constituency:";	
          	}
          }
          .shs-hierarchy li:after {
         		content: "";
         	}	 
          .constituency-description {
       			margin-left: 2.3em;
       		}
       		
       		.constituency-contact-fields {
       			.pane-title {
       					@include aap_content_title_panelizer;
       					margin-left: 3.5em;
       				}
       			
       			.adr {
       					margin-left: 3em;
       			}	
       			.fn,.street-address,
       			.postal-code,.country-name,
       			.locality,.region,
       			.tel,.email {
       					@include aap_font_body;
       					font-size: 1.1em;
       			}
       			.email,.tel {
       				margin-top: 0.5px;
       				font-weight: bold;
       				a {
       						@include aap_content_link;
       						font-weight: bold;
       						font-size: 1.2em;
       				}
       				
       				abbr[title], acronym[title] {
     							border-bottom-width: 0;
   						}
       			}
       	}
       	.constituency-contact-container {
       			margin-left:2.5em;
       	}
       	
       	.constituency-container-1 {
       		h2 {
       			margin: 0;
       		}
       	}	
      }
   }    		